table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th {
  font-weight: 600;
  font-size: 0.8rem;
}
.icon-size {
  font-size: 20px;
}
.title-right {
  position: absolute;
  right: 2px;
}
.width-Operate{
  width: 130px;
}